@font-face{
  font-family: 'Roboto-Regular_0';
  src:url(./fonts/Roboto-Regular_0.ttf) format('truetype');
}
@font-face{
  font-family: 'Roboto-Light_0';
  src:url(./fonts/Roboto-Regular_0.ttf) format('truetype');
}
@font-face{
  font-family: 'ps';
  src:url(./fonts/ps.ttf) format('truetype');
}
@font-face{
  font-family: 'HelveticaUltraLt_0';
  src:url(./fonts/HelveticaUltraLt_0.ttf) format('truetype');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
